/* HTML: <div class="loader-*"></div> */

.loader-stack {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #472bdb;
    background: linear-gradient(#472bdb 0 0) center/2px 100% no-repeat;
    display: grid;
  }
  .loader-stack:before,
  .loader-stack:after{
    content: "";
    grid-area: 1/1;
    background: repeating-linear-gradient(90deg,#472bdb 0 14px,#ffff 0 100%) 0 0/calc(100%/4) 100%;
    clip-path: inset(0 50% 0 0);
    animation: l2 1s infinite linear;
  }
  .loader-stack:before{
    background: radial-gradient(circle 7px at 7px 50%,#472bdb 92%,#ffff) 0 0/calc(100%/4) 100%;
    clip-path: inset(0 0 0 50%);
  }
  @keyframes l2 {
      100% {background-position: calc(100%/3) 0}
  }



.loader-dot-translate {
    color: #472bdb;
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 .5s infinite alternate linear;
  }
  /* darkmode for loader-dot-translate */
  
  @keyframes l21 {
    50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
    100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
  }



/* HTML: <div class="loader"></div> */
.loader-factory-stack {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 #472bdb;
    position: relative;
    clip-path: inset(-40px 0 -5px)
}
.loader-factory-stack:before {
    content: "";
    position: absolute;
    inset: auto calc(50% - 17px) 0;
    height: 50px;
    --g:no-repeat linear-gradient(#ccc 0 0);
    background: var(--g),var(--g),var(--g),var(--g);
    background-size: 16px 14px;
    animation:
      l7-1 2s infinite linear,
      l7-2 2s infinite linear;
}
@keyframes l7-1 {
    0%,
    100%  {background-position: 0 -50px,100% -50px}
    17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
    35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
    52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
    70%,
    98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes l7-2 {
    0%,70% {transform:translate(0)}
    100%  {transform:translate(200%)}
}


.loader-dot-121 {
  width: 60px;
  aspect-ratio: 4;
  --c:#472bdb 90%,#0000;
  background: 
    radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
    radial-gradient(circle closest-side                     ,var(--c)),
    radial-gradient(circle closest-side at right 6px top 50%,var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
    to{width:25px;aspect-ratio: 1}
}