@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-2px); }
}
.animate-shake {
  animation: shake 0.3s ease;
}
.bg{
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

@font-face {
  font-family: 'Custom';
  src: url('../src/assets/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.block-animate{
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


#contactus{
  background-image: url('./assets/images/team.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}